* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url();
    background-size: contain;  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

#timer {
    font-size: 82px;
    font-weight: bold;
    text-align: center;
}

#minutes,
#seconds {
    color: #faa41b;
}